{{template "header.html" .}}

<h1>
	{{.user.Login}}'s Pull Requests
</h1>
<div class="button-wrapper">
	{{if .loginUser}}
	<a href="/users/{{.user.Login}}/update" class="btn">
		Refresh Data
	</a>
	{{end}}
</div>

<ul class="nav nav-tabs">
	<li class="active">
		<a href="#" id="#merged" class="tab-change">
			Merged
			<span class="badge badge-success">
				{{len .merged}}
			</span>
		</a>
	</li>
	<li>
		<a href="#" id="#open" class="tab-change">
			Open
			<span class="badge badge-warning">
				{{len .open}}
			</span>
		</a>
	</li>
	<li>
		<a href="#" id="#closed" class="tab-change">
			Closed
			<span class="badge badge-important">
				{{len .closed}}
			</span>
		</a>
	</li>
	<li>
		<a href="#" id="#repositories" class="tab-change">
			Contributed
			<span class="badge badge-info">
				{{len .repos}}
			</span>
		</a>
	</li>
</ul>

<div id="merged" class="tab-content active">
	{{set . "pullRequests" .merged}}
	{{template "Users/pullRequests.html" .}}
</div>

<div id="open" class="tab-content">
	{{set . "pullRequests" .open}}
	{{template "Users/pullRequests.html" .}}
</div>

<div id="closed" class="tab-content">
	{{set . "pullRequests" .closed}}
	{{template "Users/pullRequests.html" .}}
</div>

<div id="repositories" class="tab-content">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Star</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			{{range .repos}}
			<tr>
				<td>
					{{.StargazersCount}}
				</td>
				<td>
					<a href="{{.Url}}">
						{{.Owner}}/<strong>{{.Name}}</strong>
					</a>
				</td>
			</tr>
			{{end}}
		</tbody>
	</table>
</div>

{{template "footer.html" .}}
